@use "../../partials/palette.scss";

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inclusive+Sans:ital@1&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mooli&family=Poppins&family=Roboto:wght@100;400&family=Skranji:wght@400;700&display=swap");

.header {
  border-bottom: 2px solid palette.$color3-light;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;

  &__content {
    padding: 17px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1500px;
  }

  &__logo {
    font-family: "Dela Gothic One", cursive;
    text-decoration: none;
    list-style: none;
    color: black;

    &:active {
      transform: scale(0.99);
    }
  }

  &__icons {
    display: flex;
    &__icon {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2px;
      border-radius: 15px;
      padding: 6px;

      &__img {
        height: 25px;
      }

      &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -1px;
        top: -1px;
        background-color: palette.$color1;
        border-radius: 50%;
        min-height: 20px;
        min-width: 20px;
      }
    }
  }
}

.bump {
  animation: bump 300ms ease-out;
}

