// lime-green
$color1: #bde038;

// olive-green
$color2: #a3ab78;

//grey
$color3: #818274;
$color3-light: #8182748c;

//blue-grey
$color4: #506266;

//dark-teal
$color5: #10454f;
$color5-light: #10454fe5;
$color5-lighter: #10454fab;
